{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<section class="about-wrapper">

    <!-- Top Intro -->
    <div class="about-header">
        <h1 class="name">ANIL MANDANSURI</h1>
        <p class="title">
            Graphic Designer | Motion Graphic Designer | Video Editor<br>
            Film Maker
        </p>
    </div>


    <!-- Main Layout -->
    <div class="about-container">

        <!-- Left Image -->
        <div class="about-image">
            <img src="{{ url_for('static', filename='images/3922343e-5b83-42f3-8b67-187ae288b413.jpeg') }}"
                alt="Profile">
        </div>

        <!-- Right Content -->
        <div class="about-content">
            <h3>PROFESSIONAL SUMMARY -</h3>
            <p>
                Experienced film director with over 7 years of experience directing short films, Film & songs, many of
                which have gone on to earn accolades at various film festivals.
                Also working as opration head in MUMBA FILMS INTERNATIONAL FESTIVAL Since 2022 ,Keen eye for detail and
                willing to put in extra hours of work to ensure a movie gets the attention it deserves. Excel at
                professional camera movement, frame composition, Additional expertise in Film Editing, Graphics VFX,
                publicity Design & Direction
            </p>

            <div class="contact">
                <p><strong>Contact</strong></p>
                <p><b>Phone No : </b>+91 827-526-5637</p>
                <p><b>Email : </b>anilshindedesigns@gmail.com</p>
            </div>

            <div class="social-links">
                <a href="https://www.instagram.com/anil_madansuri/?hl=en">INSTAGRAM</a> |
                <a href="https://www.imdb.com/name/nm10055904/">IMBD</a> |
                <a href="#">FACEBOOK</a> |
                <a href="https://www.youtube.com/channel/UCaIxI5iBjGnOxaAeKFall2Q">YOUTUBE</a>
            </div>
        </div>

    </div>

</section>
{% endblock %}