<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Portfolio" }}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Page Specific CSS -->
    {% block page_css %}{% endblock %}
</head>

<body>
    <!-- HEADER -->
    <header class="header">

        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/logos/OFAAX40.jpg') }}" alt="Logo" class="logo">
            <h2 class="site-name"><b>ASD Studios</b></h2>
        </div>

        <nav class="nav">
            <a href="{{ url_for('about') }}">About Me </a>
            <a href="{{ url_for('posters') }}">Posters</a>
            <a href="{{ url_for('films_songs') }}">Films & Songs</a>
            <a href="{{ url_for('motions') }}">Motions</a>
            <a href="{{ url_for('work_skills') }}">Work Stills</a>
        </nav>
    </header>

    <!-- SCROLLABLE CONTENT -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <b>@asdstudios2026</b>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>