{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/films_songs.css') }}">
{% endblock %}

{% block content %}

<section class="films-section">

    <h1 class="films-title">Films & Songs</h1>

    <div class="films-grid">

        

        <div class="film-card">
            <iframe src="https://www.youtube.com/embed/1I48C80wKIM" allowfullscreen></iframe>
            <h3>Project 1</h3>
        </div>

        

        

        <div class="film-card">
            <iframe src="https://www.youtube.com/embed/uVZIA4Fg-GE" allowfullscreen></iframe>
            <h3>Project 2</h3>
        </div>

        <div class="film-card">
            <iframe src="https://www.youtube.com/embed/yca4Am46FYk" allowfullscreen></iframe>
            <h3>Project 3</h3>
        </div>

        <div class="film-card">
            <iframe src="https://www.youtube.com/embed/OY6Bab--F_k" allowfullscreen></iframe>
            <h3>Project 4</h3>
        </div>

    </div>

</section>

{% endblock %}