{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posters.css') }}">
{% endblock %}

{% block content %}
<section class="posters-section">
    <h1 class="poster-title">My Creative Posters</h1>

    <div class="poster-grid">
        <!-- Poster 1 -->
        <div class="poster-card">
            <img src="{{ url_for('static', filename='images/posters/DANKA.jpeg') }}" alt="Poster 1">
            <div class="poster-info">
                <h3>DANKA : HARI NAMACHA ( 2024 ) Marathi Fim</h3>
            </div>
        </div>

        <!-- Poster 2 -->
        <div class="poster-card">
            <img src="{{ url_for('static', filename='images/posters/PHAKAAT.jpeg') }}" alt="Poster 2">
            <div class="poster-info">
                <h3>PHAKAAT ( 2023 ) Marathi Film</h3>
            </div>
        </div>

        <!-- Poster 3 -->
        <div class="poster-card">
            <img src="{{ url_for('static', filename='images/posters/SURVEILLANCE.jpeg') }}" alt="Poster 3">
            <div class="poster-info">
                <h3>SURVEILLANCE (2026) short film</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}