{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posters.css') }}">
{% endblock %}

{% block content %}
<section class="posters-section">
    <h1 class="poster-title">My Creative Posters</h1>

    <div class="poster-grid">
        <!-- Poster 1 -->
        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/DANKA.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/DANKA.jpeg') }}" alt="Poster 1">
            </a>
            <div class="poster-info">
                <h3>DANKA : HARI NAMACHA</h3>
                <p>(2024) Marathi Film</p>
            </div>
        </div>

        <!-- Poster 2 -->
        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/PHAKAAT.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/PHAKAAT.jpeg') }}" alt="Poster 2">
            </a>
            <div class="poster-info">
                <h3>PHAKAAT</h3>
                <p>(2023) Marathi Film</p>
            </div>
        </div>

        <!-- Poster 3 -->
        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/SURVEILLANCE.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/SURVEILLANCE.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>SURVEILLANCE </h3>
                <p>(2026) Short Films</p>
            </div>
        </div>


        <!-- ################################# -->

        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/THE_SUPER_HUSBAND.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/THE_SUPER_HUSBAND.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>THE SUPER HUSBAND </h3>
                <p> ( 2025 ) OTT film</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/HA_TU_TI_TU.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/HA_TU_TI_TU.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>HA TU TI TU </h3>
                <p>( 2024 ) marathi Single</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/SAJAN_GHAR_AAO_RE.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/SAJAN_GHAR_AAO_RE.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>SAJAN GHAR AAO RE </h3>
                <p> ( 2024 ) Hindi Single</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/DANKA_HARI_NAMACHA.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/DANKA_HARI_NAMACHA.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>DANKA HARI NAMACHA </h3>
                <p>( 2024 ) marathi film</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/ILU_ILU.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/ILU_ILU.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>ILU ILU </h3>
                <p>( 2025 ) Marathi Film</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/PARAMPARAA.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/PARAMPARAA.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>PARAMPARAA </h3>
                <p> ( 2019 ) short film</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/RAAJKUMAR.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/RAAJKUMAR.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>RAAJKUMAR </h3>
                <p> ( 2021) marathi film</p>
            </div>
        </div>


        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/RAHASYA.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/RAHASYA.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>RAHASYA </h3>
                <p> ( 2022 ) nepali film</p>
            </div>
        </div>

        <div class="poster-card">
            <a href="{{ url_for('static', filename='images/posters/RANJHA_TERA_HEERIYE.jpeg') }}" target="_blank">
                <img src="{{ url_for('static', filename='images/posters/RANJHA_TERA_HEERIYE.jpeg') }}" alt="Poster 3">
            </a>
            <div class="poster-info">
                <h3>RANJHA TERA HEERIYE </h3>
                <p> ( 2025 ) Hindi Single</p>
            </div>
        </div>

        


        
    </div>
</section>
{% endblock %}